
.feed_item {
	position: relative;
	width: 100%;
	min-height: 150px;
	background-color: white;
	outline: 1px solid black;
	padding: 10px;
	margin-bottom: 10px;
	/*display: none;*/
}


/*
	/app/home
*/

.sidebar_item {
	font-size: 1.25em;
	color: white !important;
	text-align: center;
	margin-top: 10px;
}

.my_panel {
	position: relative;
	margin-top: 15px;
}

.delete_button {
	color: grey
}
.delete_button:hover {
	color: black
}

.reading_summary {
	position: relative;
	text-align: center;
	width: 200px;
	margin-right: 5px;
	margin-top: 5px;
	display: inline-block;
	//background-color: white;
	//border: 1px solid black;
	padding: 5px;
	height: 200px;

	overflow: hidden;

	img, object {
		height: 90%; /* allowing for padding, outline etc */
		max-width: 100%;
		display: block;
		margin: 5px auto;
	}

	img:hover, object:hover {
		// outline: 2px solid lightblue;
	}
}