# want jsx only except for a few js files
*.js
!js/components/helpers.js
!js/components/config.js
!js/components/auth.js
!js/components/file_upload.js

!js/_config.js
!js/_require.js
!js/flux/*.js
!js/helpers/*.js

dist/*.js
dist/*.css

!server.js



.tmp
.sass-cache
bower_components
.DS_Store
*.log
node_modules
build
*.node
#components
coverage
*.orig
.idea
sandbox
test/out-fixtures/*
test/watch-*.txt
gulp.1
